/**** CSS GRID SYSTEM ****/


/*
*   Main container grid
*/

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 0.1em;
    grid-auto-rows: minmax(100px, auto);
}


/*
*   Main container - section grid column
*/

.main-container section {
    grid-column-start: 2;
    grid-column-end: 2;
}


/*
* Main section grid
*/

.main-section {
    display: grid;
    grid-row-gap: 10px;
}

footer {
    grid-column-start: 2;
}


/**** END CSS GRID SYSTEM ****/


/**** CSS DEFAULTS ELEMENTS ***/

* {
    font-family: 'Ubuntu', sans-serif;
    color: #fbe9e7;
}

body {
    background-color: #8e24aa;
}

article {
    margin: 1em;
}

footer {
    margin: 1em;
}

footer p {
    margin: 0;
    padding: 0;
    float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0;
    color: #4dd0e1;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.75em;
}

h2 span {
    font-size: 75%;
}

p {
    margin: 1em 0;
}

code,
kbd {
    background-color: #4dd0e1;
    color: #000000;
    padding: 0.5em;
    margin: 0.1em;
    display: inline-block;
    border-radius: 7px;
}

kbd {
    background-color: #ff7043;
}

code pre {
    color: #000000;
}


/**** END CSS DEFAULTS ELEMENTS ***/


/*
*   Main header text center
*/

.main-section .main-header {
    text-align: center;
}


/*
*   Create code block
*/

code.block {
    background-color: #4dd0e1;
    color: #000000;
    display: block;
    padding: 0.5em 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}


/*
*   Create header code block
*/

code.header {
    margin-bottom: 0;
    background-color: #45bbca;
    color: #000000;
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/*
*   Change in code block
*/

span.change {
    color: red;
}